COMPOSE_PROJECT_NAME=xtyres-full

POSTGRES_PORT=5432
POSTGRES_DB=xtyres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BACKEND_APP_NAME=XTyres
BACKEND_APP_ENV=local
BACKEND_APP_KEY=base64:QnmqNRxeS4giSLZ34SNsnJz1o6oMfj2nb81ak5/4Ktc=
BACKEND_APP_DEBUG=true
BACKEND_APP_URL=http://localhost:8000
BACKEND_APP_LOCALE=ro
BACKEND_APP_FALLBACK_LOCALE=ru
BACKEND_APP_FAKER_LOCALE=ro_MD
BACKEND_APP_TIMEZONE=Europe/Chisinau

BACKEND_LOG_CHANNEL=stack
BACKEND_LOG_STACK=single
BACKEND_LOG_LEVEL=debug

BACKEND_APP_PORT=8000
BACKEND_VITE_PORT=5173
BACKEND_VITE_HOST=0.0.0.0
BACKEND_VITE_HMR_HOST=localhost
BACKEND_VITE_DEV_SERVER_URL=http://localhost:5173
BACKEND_VITE_USE_POLLING=true

FRONTEND_PORT=5174
FRONTEND_VITE_HOST=0.0.0.0
FRONTEND_VITE_HMR_HOST=localhost
FRONTEND_VITE_USE_POLLING=true
FRONTEND_URL=http://localhost:5174
FRONTEND_API_BASE_URL=http://localhost:8000/api/storefront

BACKEND_ADMIN_EMAIL=admin@xtyres.local
BACKEND_ADMIN_PASSWORD=password
